@import url('https://fonts.googleapis.com/css?family=Karantina');


body{
  background-color: #0E0E15;
}

.movieRow{
  margin:30px auto;
  width:960px;
  height:427px;
  border: #F85146 solid 2px;
}

.Row_watch{
  color:#F3F3F3;
  font-size: 20px;
  margin-bottom: 30px;
}


.movie{
  border:solid salmon 1px;
}
