@import url('https://fonts.googleapis.com/css?family=Karantina');
@import url('https://fonts.googleapis.com/css?family=Kanit');

.header-row{
    align-items: center;
}

@media(min-width:576px) {
    .header-row {
        justify-content: space-between;
        padding: 30px 0 30px 0;
    }
}

@media (max-width:576px) {
    .header-row {
        justify-content: space-between;
    }
}

@media(max-width:992px) {
    .hr{
        width:100%;
        border-bottom: #F85146 solid 2px;
    }
}


@media (max-width:576px) {
    .input-text {
        height: 60px;
        width: 260px;
    }
} 

.header-img {
    width:45px;
    margin-bottom: 5px;
}

.image{
    /* color:#F3F3F3; */
    font-family: Karantina;
    font-size: 40px;
}

@media (max-width:576px) {
    .search {
        display: none;
    }
}

.input-text {
    height: 60px;
    float: left;
}

.button {
    width: 60px;
    height: 60px;
    border: none;
    background-color: #F85146;
}

.lists{
    font-family: Kanit;
    font-size: 20px;
    display: flex;
    align-items: center;
    list-style: none;
}

.list-text {
    margin-right:20px;
}

/* 
li{
    color:#F3F3F3;
} */